/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--matrixPanel
 */
.konturMatrixCalc--matrixPanel {

    display: block;
    box-sizing: border-box;

    margin: 0;
    padding: 40px 0 0 370px;

    height: 100%;

}

