/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--matrixPanel
 */
.konturMatrixCalc--matrixPanel {

    display: block;
    box-sizing: border-box;

    margin: 0;

    height: 100%;
    width: auto;

    overflow: auto;

    white-space: nowrap;
}

