/**
 * @section konturMatrixCalc--button
 * @subsection konturMatrixCalc--button-icon
 */
.konturMatrixCalc--button-icon-add {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-add:hover {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-add:active {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-add:focus {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-add:disabled {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

