/**
 * konturMatrixCalc block CSS styles
 *
 * @package konturMatrixCalc
 * @author idbolshakov@gmail.com
 * @section konturMatrixCalc
 */
.konturMatrixCalc {

    display: block;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--font
 */


/* font-family: "SegoeUIRegular"; */
@font-face {
    font-family: "SegoeUIRegular";
    src: url("../static/font/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../static/font/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../static/font/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../static/font/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.konturMatrixCalc * {

    font-family: SegoeUIRegular, Sans;
    font-size: 14px; 

    color: #404040;

    line-height: 20px;
}

/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--toolsPanel
 */
.konturMatrixCalc--toolsPanel {

    display: block;
    float: left;
    box-sizing: border-box;

    margin: 0;
    padding: 0 0 0 32px;

    width: 350px;
    height: 100%;

    overflow-y: auto;

    transition: background 0.25s;
}

/**
 * @section konturmatrixcalc--toolsPanel
 * @subsection konturmatrixcalc--toolsPanel-state
 */
.konturMatrixCalc--toolsPanel-state-normal {

    background: #bcbcbc;
}

/**
 * @section konturMatrixCalc--toolsPanel
 * @subsection konturMatrixCalc--toolsPanel-state
 */
.konturMatrixCalc--toolsPanel-state-input {

    background: #5199db;
}

/**
 * @section konturmatrixcalc--toolsPanel
 * @subsection konturmatrixcalc--toolsPanel-state
 */
.konturMatrixCalc--toolsPanel-state-error {

    background: #fbc1c0;
}

/**
 * @section konturMatrixCalc--functionalSection
 * @subsection konturMatrixCalc--functionalSection-section
 */
.konturMatrixCalc--functionalSection-section-matrixCalculate {

    margin: 32px 0 0 0;
    padding: 0;
}

/**
 * @section konturMatrixCalc--functionalSection
 * @subsection konturMatrixCalc--functionalSection-section
 */
.konturMatrixCalc--functionalSection-section-matrixEdit {

    margin: 44px 0 0 0;
    padding: 0;
}

/**
 * @section konturMatrixCalc--functionalSection
 * @subsection konturMatrixCalc--functionalSection-section
 */
.konturMatrixCalc--functionalSection-section-matrixSize {

    margin: 57px 0 0 0;
    padding: 0;
}
/**
 * @section konturMatrixCalc--functionalSection
 * @subsection konturMatrixCalc--functionalSection-section
 */
.konturMatrixCalc--functionalSection-section-errorMessage {

    margin: 40px 20px 20px 0;
    padding: 0;

    color: #da0902;
}

/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--calculateButton
 */
.konturMatrixCalc--calculateButton {

    display: inline-block;

    margin: 0;
    padding: 0;

    border: none;

    width: 190px;
    height: 44px;
    line-height: 44px;

    background: url('../static/svg/konturMatrixCalc--calculateButton.svg');
    background-repeat: no-repeat;
    background-position: 0 0;


    color: #fff;
    font-weight: bold;
}

.konturMatrixCalc--calculateButton:hover {

    background: url('../static/svg/konturMatrixCalc--calculateButton.svg');
    background-repeat: no-repeat;
    background-position: 0 -44px;
}

.konturMatrixCalc--calculateButton:focus {

    background: url('../static/svg/konturMatrixCalc--calculateButton.svg');
    background-repeat: no-repeat;
    background-position: 0 -88px;
    
    border: none;
    outline: none;
}

.konturMatrixCalc--calculateButton::-moz-focus-inner {border: 0;}

.konturMatrixCalc--calculateButton:active {

    background: url('../static/svg/konturMatrixCalc--calculateButton.svg');
    background-repeat: no-repeat;
    background-position: 0 -132px;
}

.konturMatrixCalc--calculateButton:disabled {

    opacity: .5;

    background: url('../static/svg/konturMatrixCalc--calculateButton.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--matrixCheckbox
 */
.konturMatrixCalc--matrixCheckbox {

    display: inline-block;

    margin: 0 15px 15px 0;
    padding: 0;

    cursor: pointer;
}

.konturMatrixCalc--matrixCheckbox>input {

    margin: 0 0.5em 0 0;
    padding: 0;
}

/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--button
 */
.konturMatrixCalc--button {

    display: inline-block;

    margin: 0 11px 11px 0;
    padding: 5px 5px 5px 20px;

    background: #f2f2f2;
    background-position: left center;
    background-clip: padding-box;

    border:        solid 1px rgba(0, 0, 0, .175);
    border-bottom: solid 1px rgba(0, 0, 0, .3);
    border-radius: 3px;
}

.konturMatrixCalc--button:hover {

    background: #e6e6e6;
    background-position: left center;
}

.konturMatrixCalc--button:focus {

    background: #f4f4f4;
    background-position: left center;

    border: solid 1px #5199db;

    -webkit-box-shadow: 0px 0px 0px 2px rgba(81,153,219,1);
       -moz-box-shadow: 0px 0px 0px 2px rgba(81,153,219,1);
            box-shadow: 0px 0px 0px 2px rgba(81,153,219,1);
}

.konturMatrixCalc--button::-moz-focus-inner {border: 0;}

.konturMatrixCalc--button:active {

    background: #d9d9d9;
    background-position: left center;
 
    border:        solid 1px rgba(0, 0, 0, .155);
    border-bottom: solid 1px rgba(0, 0, 0, .125);

    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,.15);
       -moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,.15);
            box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,.15);

}

.konturMatrixCalc--button:disabled { 
    
    opacity: .75;
    
    background: #f2f2f2;
    background-position: left center;
    
    border:        solid 1px rgba(0, 0, 0, .175);
    border-bottom: solid 1px rgba(0, 0, 0, .3);    
    
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;    
}

/**
 * @section konturMatrixCalc--button
 * @subsection konturMatrixCalc--button-icon
 */
.konturMatrixCalc--button-icon-add {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-add:hover {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-add:active {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-add:focus {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-add:disabled {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-add.svg');
    background-repeat: no-repeat;
}

/**
 * @section konturMatrixCalc--button
 * @subsection konturMatrixCalc--button-icon
 */
.konturMatrixCalc--button-icon-clear {
    background-image: url('../static/svg/konturMatrixCalc--button-icon-clear.svg');
    background-repeat: no-repeat;

}

.konturMatrixCalc--button-icon-clear:hover {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-clear.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-clear:active {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-clear.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-clear:focus {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-clear.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-clear:disabled {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-clear.svg');
    background-repeat: no-repeat;
}

/**
 * @section konturMatrixCalc--button
 * @subsection konturMatrixCalc--button-icon
 */
.konturMatrixCalc--button-icon-delete {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-delete.svg');
    background-repeat: no-repeat;


}

.konturMatrixCalc--button-icon-delete:hover {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-delete.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-delete:active {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-delete.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-delete:focus {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-delete.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-delete:disabled {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-delete.svg');
    background-repeat: no-repeat;
}

/**
 * @section konturMatrixCalc--button
 * @subsection konturMatrixCalc--button-icon
 */
.konturMatrixCalc--button-icon-swap {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-swap.svg');
    background-repeat: no-repeat;


}

.konturMatrixCalc--button-icon-swap:hover {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-swap.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-swap:active {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-swap.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-swap:focus {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-swap.svg');
    background-repeat: no-repeat;
}

.konturMatrixCalc--button-icon-swap:disabled {

    background-image: url('../static/svg/konturMatrixCalc--button-icon-swap.svg');
    background-repeat: no-repeat;
}

/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--matrixPanel
 */
.konturMatrixCalc--matrixPanel {

    display: block;
    box-sizing: border-box;

    margin: 0;

    height: 100%;
    width: auto;

    overflow: auto;

    white-space: nowrap;
}

/**
 * 
 * Идея с скобками взята с:
 * http://ru.stackoverflow.com/questions/487334/
 * 
 * @section konturMatrixCalc--matrix
 */ 
.konturMatrixCalc--matrix {

    display: inline-block;

    text-align: center;

    margin: 20px;
}

.konturMatrixCalc--matrix table {
  
  margin: 0;   
  padding: 0;
  
  display: inline-table;
  
  border: solid #000;
  border-width: 0 2px;
  border-collapse: collapse;
  
  vertical-align: middle;
}

.konturMatrixCalc--matrix tr:before,
.konturMatrixCalc--matrix tr:after {
  
  display: table-cell;
  
  content: '\a0';
  
  width: 2px;
}

.konturMatrixCalc--matrix tr:first-child:before,
.konturMatrixCalc--matrix tr:first-child:after {
  
  border-top: 2px solid #000;
}

.konturMatrixCalc--matrix tr:last-child:before,
.konturMatrixCalc--matrix tr:last-child:after {
  
  border-bottom: 2px solid #000;
}

.konturMatrixCalc--matrix input {

    text-align: center;

    width: 2em;
    height: 2em;

    margin:  .35em;
    padding: .7em;

    border: solid 1px #d9d9d9;
    border-radius: none;

    animation: fadeIn 0.2s;
}

.konturMatrixCalc--matrix input:focus {

    border: solid 1px #5199db;

    -webkit-box-shadow: 0px 0px 0px 2px rgba(81,153,219,1);
       -moz-box-shadow: 0px 0px 0px 2px rgba(81,153,219,1);
            box-shadow: 0px 0px 0px 2px rgba(81,153,219,1);
}

.konturMatrixCalc--matrix input:disabled {

    opacity: .75;
}

.konturMatrixCalc--matrix span {

    display: inline-block;

    padding: 0;
    margin: 10px;

    font-weight: bold;
    font-size: 1.5em;
}

@keyframes fadeIn {

    from { opacity: 0;}
    to   { opacity: 1;}
};
