/**
 * konturMatrixCalc block CSS styles
 *
 * @package konturMatrixCalc
 * @author idbolshakov@gmail.com
 * @section konturMatrixCalc
 */
.konturMatrixCalc {

    display: block;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

