/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--matrixCheckbox
 */
.konturMatrixCalc--matrixCheckbox {

    display: inline-block;

    margin: 0 15px 15px 0;
    padding: 0;

    cursor: pointer;
}

.konturMatrixCalc--matrixCheckbox>input {

    margin: 0 0.5em 0 0;
    padding: 0;
}

