/**
 * @section konturMatrixCalc
 * @subsection konturMatrixCalc--toolsPanel
 */
.konturMatrixCalc--toolsPanel {

    display: block;

    float: left;
    box-sizing: border-box;

    margin: 0;
    padding: 0 0 0 32px;

    width: 350px;

    height: 100%;

    transition: background 0.25s;
}

